export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="mysecretpassword"
export POSTGRES_DB="polls"
export POSTGRE_DOMAIN="localhost"
export POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRE_DOMAIN}:5432/${POSTGRES_DB}"
export JWT_KEY="y5XYbfKoqOqGa+XVggMZs4yvcE6SwWS9Q9UBZviMw0A="
export HTTP_PORT="1313"
export GOOGLE_CLIENT_ID="113888008837-i0p25e79564rsr4bnf444g0rhstekpt2.apps.googleusercontent.com"
export DEBUG="true"